* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* Top Bar */
.topbar {
    height: 60px;
    background: #f5f8fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-weight: 600;
    color: #1e3a5f;
    gap: 15px;
    text-decoration: none;
    font-size: 25px;
}
/* .logo1 {
    font-size: 20px;
    font-weight: 600;
    color: #1e3a5f;
    display: flex;
    gap: 50px;
    text-decoration: none;
} */
.nav-links {
    display: flex;
    gap: 50px;
    justify-content: flex-end;
}
.nav-links a {
    font-size: 20px;
    font-weight: 600;
    color: #1e3a5f;
    text-decoration: none;  /* remove underline */
}

.nav-links a:hover {
    color: #0f2a45;
}

.user-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout-btn {
    padding: 6px 12px;
    border: none;
    background: #1e88e5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

/* Page */
body {
    background: #afc8cc;
}

.page {
    max-width: 900px;
    margin: 40px auto;        /* centers horizontally */
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}


.title {
    text-align: center;
    margin-bottom: 30px;
    color: #1e3a5f;
}

/* Section box */
.box {
    margin-bottom: 35px;
}

.box h3 {
    margin-bottom: 15px;
    color: #333;
}

.option-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 10px;
}


.option-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 10px;
}


.option-card {
    background: #dcedef;
    padding: 24px 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.25s;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90px;
    /* background: #35687e; */
    color: #020b16;
    border-color: #b0d9dd;
}


.option-card small {
    font-size: 12px;
     color: #666666; 
}

/* Hover */
.option-card:hover {
    border-color: #90caf9;
    background: #eef6ff;
}

/* Selected */
.option-card.active {
    border-color: #1e88e5;
    background: #e3f2fd;
    color: #1e88e5;
}

.start-area {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.start-btn {
    padding: 14px 60px;
    background: #33b38c;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 6px 15px rgba(30,136,229,0.3);
    transition: 0.3s;
}

.start-btn:hover {
    background: #0c8a64;
}

