* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: #afc8cc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    background: #dcedef;
    width: 450px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 15px 25px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.card h1 {
    color: #1e3a5f;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.3s;
}

.primary {
    background: #1e88e5;
    color: #ffffff;
}

.primary:hover {
    background: #1565c0;
}

.secondary {
    background: #e3f2fd;
    color: #1e88e5;
}

.secondary:hover {
    background: #d0e7fa;
}

.input {
    width: 100%;
    padding: 11px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.input:focus {
    outline: none;
    border-color: #1e88e5;
}

.info-box {
    text-align: left;
    background: #f8fbff;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #444;
    padding:25px;
}
